/*font*/
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/*reset styles*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input, button{
    outline: none;
    border: none;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #333;
}

/*global styles*/

body{
    font-family: 'Montserrat', sans-serif;
    color: #333;
    /*compensate for the width of a fixed navbar*/
    /* padding-top: 3.5rem; */
}
.container{
    width: 90%;
    /* overflow: hidden; */
    margin: auto;
}
.btn{
    display: inline-block;
    background-color: #F9982D;
    color: #fff;
    padding: 0.4rem 0.8rem;
    border-radius: 0.4rem;
    margin-top: 1.2rem;
    cursor: pointer;
}

/*section styles*/

.section{
    padding: 2.5rem 0;
    text-align: center;
}
.categories{
    background-color: #f7f7f7;
}
.section-title{
    display: inline-block;
    padding-bottom: 0.4rem;
    border-bottom: 2px solid #333;
    margin-bottom: 2rem;
}

.recomendation-title{
    text-align: left;
    margin-left: 0.5rem;
    margin-bottom: 2rem;
}
.devider{
    width: 100%;
    height: 1px;
    background-color: #999;
    margin: 2rem 0.5rem;
}
/*single meal page styles*/
.meal-details-main{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.meal-details-left{
    flex: 1;
    margin-right: 1rem;
}
.meal-details-left img{
    width : 100%;
}
.meal-details-left .card-title{
    margin-bottom: 0.5rem;
}
.meal-details-right{
    text-align: left;
    flex: 2;
    font-size: 0.8rem;
}
.meal-details-right div{
    margin-bottom: 0.5rem;
}
.meal-details-right span{
    font-weight: 700;
}
.meal-details-ingredients{
    margin-top: 1rem;
    display: flex;
    text-align: left;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}
.meal-details-ingredients h4{
    margin-bottom: 1rem;
}
.ingredients{
    margin-right: 1rem;
}



/*scrollbar*/

/* width */
::-webkit-scrollbar {
  width: 0.4rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a2abb2;
  border-radius: 0.4rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #969fa5;
}

/*media queries*/
@media (max-width: 768px){
    /*nav*/
    .menu a {
        padding: 0.6rem;
    }
    .header-content{
        flex: 1;
        padding: 2rem 0;
    }
    .header-image{
        flex: 1;
    }
    /*categories*/
    .card{
        width: calc(33.33% - 1rem);
    }
    /*about*/
    .about-wrapper{
        flex-direction: column;
    }
    .about-text p {
        padding: 0;
        margin-bottom: 2rem;
    }
}

@media (max-width: 576px){
    html, body{
        font-size: 0.8rem;
    }
    /*nav*/
    .menu a {
        padding: 0.4rem;
    }
    .search-bar{
        max-width: 30%;
    }
    /*header*/
    .header{
        min-height: auto;
    }
    .header .container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: auto;
    }
    .header-content{
        flex: 1;
        padding: 2rem 0;
    }
    .header-image{
        flex: 1;
    }
    /*categories*/
    .card{
        width: calc(50% - 1rem);
    }
    /*about*/
    .about-wrapper{
        flex-direction: column;
    }
    .about-text p {
        padding: 0;
        margin-bottom: 2rem;
    }
}